body{
    margin: 0;
    overflow: hidden;
}
#background{
    background-size: cover;
    overflow: hidden;
    position: absolute;
}
#logo{
    position: relative;
    width: 200px;
    height: 200px;
}
.form{
    position: relative;
    padding: 50px 100px;

}
#date{
    padding: 20px;
    width: 400px;
    text-align: center;
    color: rgb(161, 161, 161);
}
input:focus{
    border: none;
}
#gender{
    padding: 22px;
    text-align: center;
    width: 200px;
    color: rgb(161, 161, 161);
}
