@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    margin: 0;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
.main{
    position: relative;
    margin: 0 100px;
}
.background{
    overflow: hidden;
    position: absolute;
}
#logo{
    position: relative;
    width: 200px;
    height: 200px;
}
.description{
    position: relative;
    top: -150px;
    text-align: center;
    margin: 100px;
}
p{
    font-weight: bolder;
    margin-left: 300px;
    max-width: 50%;
    text-align: center;
}
.form{
    position: relative;
    top: -200px;
    margin: 100px;
    font-family: 'Playfair Display', serif;
}
#date{
    padding: 20px;
    width: 400px;
    font-size: 20px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    border: none;
    margin: 5px;
}
#date:focus{
    border: none;
    outline: none;   
}
#gender{
    padding: 20px;
    width: 350px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    font-family: 'Playfair Display', serif;
    border: none;
    margin: 5px;
}
#gender:focus{
    border: none;
    outline: none;
}
#btn{
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    background-color: #3cc202;
    border: 1px solid #3cc202;
    font-family: 'Playfair Display', serif;
}
#btn:hover{
    color: white;
}
.footer{
    position: relative;
}


@media screen and (max-width: 720px) {
    body{
        box-sizing: border-box;
        overflow: hidden;
        margin: 0;

    }
    .background{
        width: 100%;
    }  
    p{
        margin-left: 20px;
    }
    .form{
        margin-left: 20px;
    }
    #date{
        width: 200px;
        font-size: 15px;

    }
    #gender{
        width: 200px;
    }




}